a, p ¨{
    font-size: 18px;
} 

div a {
    color:red
}

div#capa1 {
    background: blue
}

.letragrande {
    font-size: 22px
}

.nosubrayado {
    text-decoration: none
}

div#capa1 a.encima:hover {
    background: gray;
}

